* {
    font-family: 'Open Sans', sans-serif;
}

.navbar-row {
    padding: 25px 0;
}

ul li {
    list-style-type: none;
}

.ttl {
    font-size: 30px;
    color: white;
}

.nav-item li {
    float: left;
    color: white;
    padding: 0px 25px;
    margin-top: 7px;
    font-size: 18px;
}

.search-icn {
    color: white;
    margin-top: 7px;
    margin-right: 40px;
    display: inline-block;
    font-size: 18px;
}

.sign-in {
    color: white;
    display: inline-block;
    font-size: 18px;
}

.banner-img {
    height: 900px;
    width: 100%;
    position: relative;
}

.banner-div {
    position: absolute;
    top: 50%;
    left: 10%;
}

.icon {
    margin-top: 200px;
}

.icon a {
    color: black;
    text-decoration: none;
    margin-right: 25px;
}